body {
    background-color: rgb(0, 0, 0);
}
img {
    height: 400px;
    width: 300px;
}
h1 {
    color: gainsboro;
    font-size: 36px;
}
.avatar {
    position: absolute;
    left: 400px;
    top: 200px;
}
.contacts {
    color: gainsboro;
    font-size: 36px;
    position: absolute;
    left: 900px;
    top: 200px;
}
.aboutme {
    color: gainsboro;
    font-size: 36px;
    position: absolute;
    left: 900px;
    top: 570px;
margin-right: 500px;
}
h2,h1 {
    color: brown;
}
.html, .css, .git {
    color: gainsboro;
    font-size: 25px;
}
.skills {
    font-size: 36px;
    position: absolute;
    left: 900px;
    top: 1000px;
}
.code {
    font-size: 36px;
    position: absolute;
    left: 900px;
    top: 1400px;
}
.codeexample {
    color: gainsboro;
}