body {
    background-color: rgb(0, 0, 0);
}
.img {
    height: 400px;
    width: 300px;
}
h1 {
    color: gainsboro;
    font-size: 36px;
}
.avatar {
    position: absolute;
    left: 400px;
    top: 200px;
}
.contacts {
    color: gainsboro;
    font-size: 36px;
    position: absolute;
    left: 900px;
    top: 200px;
}
.aboutme {
    color: gainsboro;
    font-size: 28px;
    position: absolute;
    left: 900px;
    top: 593px;
margin-right: 500px;
}
h2,h1 {
    color: brown;
}
.html, .css, .git {
    color: gainsboro;
    font-size: 25px;
}
.skills {
    font-size: 28px;
    position: absolute;
    left: 900px;
    top: 880px;
}
.code {
    font-size: 28px;
    position: absolute;
    left: 900px;
    top: 1230px;
}
.codeexample {
    color: gainsboro;
}
p {
    color: gainsboro;
}
.exp {
    font-size: 28px;
    position: absolute;
    left: 900px;
    top: 1500px;
}
.educ {
    font-size: 28px;
    position: absolute;
    left: 900px;
    top: 1670px;
}
.lang {
    font-size: 28px;
    position: absolute;
    left: 900px;
    top: 1850px;
}
a {
    color: brown
}
.rslink {
    background-color: brown;
    width: 120px;
    height: 50;
    position: absolute;
    top: 2100px;
    left: 700px;
}
.gitlink {
    background-color: brown;
    width: 120px;
    height: 50px;
    position: absolute;
    top: 2099px;
    left: 1000px;
}
.since {
    font-size: 20px;
    color: brown;
    position: absolute;
    top: 2100px;
    left: 827px;
}
nav ul {
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: brown;
}
nav li {
    padding: 10px;
    margin: 20px;
}